<div class="theme-voyage-spacial-bg" aria-hidden="true">
	<div class="voyage-spacial-sky-glow"></div>
	<div class="voyage-spacial-moon-glow"></div>
 
	<!-- Nébuleuses -->
	<div class="voyage-spacial-nebula voyage-spacial-nebula-1"></div>
	<div class="voyage-spacial-nebula voyage-spacial-nebula-2"></div>
	<div class="voyage-spacial-nebula voyage-spacial-nebula-3"></div>
	<div class="voyage-spacial-nebula voyage-spacial-nebula-4"></div>
 
	<!-- Constellation -->
	<div class="voyage-spacial-constellation">
		<div class="voyage-spacial-constellation-star" style="top: 0; left: 0;"></div>
		<div class="voyage-spacial-constellation-star" style="top: 30%; left: 50%;"></div>
		<div class="voyage-spacial-constellation-star" style="top: 60%; left: 20%;"></div>
		<div class="voyage-spacial-constellation-star" style="top: 80%; left: 70%;"></div>
		<div class="voyage-spacial-constellation-line" style="top: 2%; left: 2%; width: 48%; transform: rotate(25deg);"></div>
		<div class="voyage-spacial-constellation-line" style="top: 32%; left: 52%; width: 35%; transform: rotate(-35deg);"></div>
		<div class="voyage-spacial-constellation-line" style="top: 62%; left: 22%; width: 50%; transform: rotate(45deg);"></div>
	</div>
 
	<!-- Étoiles scintillantes -->
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-1"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-2"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-3"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-4"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-5"></span>
	<span class="voyage-spacial-star voyage-spacial-star-large voyage-spacial-star-6"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-7"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-8"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-9"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-10"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-11"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-12"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-13"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-14"></span>
	<span class="voyage-spacial-star voyage-spacial-star-large voyage-spacial-star-15"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-16"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-17"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-18"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-19"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-20"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-21"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-22"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-23"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-24"></span>
	<span class="voyage-spacial-star voyage-spacial-star-large voyage-spacial-star-25"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-26"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-27"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-28"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-29"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-30"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-31"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-32"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-33"></span>
	<span class="voyage-spacial-star voyage-spacial-star-large voyage-spacial-star-34"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-35"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-36"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-37"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-38"></span>
	<span class="voyage-spacial-star voyage-spacial-star-small voyage-spacial-star-39"></span>
	<span class="voyage-spacial-star voyage-spacial-star-medium voyage-spacial-star-40"></span>
	<span class="voyage-spacial-star voyage-spacial-star-bright-glow" style="top: 45%; left: 50%; animation: voyage-spacialStarTwinkle 4s ease-in-out infinite;"></span>
	<span class="voyage-spacial-star voyage-spacial-star-bright" style="top: 20%; left: 30%; animation: voyage-spacialStarTwinkle 5s ease-in-out infinite 1s;"></span>
	<span class="voyage-spacial-star voyage-spacial-star-bright" style="top: 60%; left: 70%; animation: voyage-spacialStarTwinkle 4.5s ease-in-out infinite 2s;"></span>
	<span class="voyage-spacial-star voyage-spacial-star-bright" style="top: 35%; left: 75%; animation: voyage-spacialStarTwinkle 4.2s ease-in-out infinite 0.5s;"></span>
	<span class="voyage-spacial-star voyage-spacial-star-bright" style="top: 70%; left: 25%; animation: voyage-spacialStarTwinkle 4.8s ease-in-out infinite 1.5s;"></span>
 
	<!-- Étoiles filantes -->
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-1"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-2"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-3"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-4"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-5"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-6"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-7"></div>
	<div class="voyage-spacial-shooting-star voyage-spacial-shooting-star-8"></div>
 
	<div class="voyage-spacial-ground"></div>
</div>